@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #181e2c;
}

.main {
  padding-top: 2rem;
}

.main__title {
  text-transform: uppercase;
  font-size: 55px;
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.main__scoreboard {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.main__score {
  text-align: center;
  background: #fff;
  color: #181e2c;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 15px;
  margin: 0 1rem;
}

.main__score :first-child {
  font-size: 30px;
}

.main__hands {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.main__message {
  color: #fff;
  text-align: center;
  margin-top: 1.5rem;
}

img {
  width: 180px;
  margin: 0 3rem;
  cursor: pointer;
  transition: 0.2s;
}

img:hover {
  transform: scale(1.2);
}
